*.iml
*.o
*.so
*.py[cod]

test.ngc

man/pycam.1
man/pycam.1.html
docs/release-notes.md

dist
build
eggs
*.egg-info
.svn
.coverage
.idea
.ropeproject/

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

*~
.*.sw?

man/pycam.1

# Generated mkdocs files go into the site directory
site/

# debian packaging
debian/debhelper-build-stamp
debian/files
debian/pycam/
debian/pycam.debhelper.log
debian/pycam.*.debhelper
debian/pycam.substvars
