include Changelog
include COPYING.TXT
include INSTALL.TXT
include LICENSE.TXT
include mkdocs.yml
include README.md
include release_info.txt
include requirements.txt
include technical_details.txt
include pycam
recursive-include docs *
recursive-include man *
recursive-include share *
recursive-include samples *
recursive-include Tests *
